html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'PT Sans', sans-serif, arial;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.concrete {
  background: url(../img/backgrounds/concrete-back-2.jpg);
  background-size: 100%;
}

.header__box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  max-width: 30%;
}

.header__logo-pictures-part {
  max-width: 45%;
}

.header__logo-img {
  max-width: 90%;
  display: block;
  border-right: 1px solid #b1b7bd;
  padding-right: 10%;
}

.header__logo-title-part {
  width: 55%;
  display: flex;
  justify-content: start;
}

.header__page-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400px;
  font-style: normal;
  color: #293a4f;
  text-decoration: none;
}

.header__contacts {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin: 20px 0 30px 0;
  flex-basis: 610px;
}

.header__phone {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}

.header__phone-img {
  display: block;
  max-width: 42px;
  border-radius: 50%;
  border: 2px solid #293a4f;
  margin-right: 15px;
  padding: 6px;
}

.header__sity {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.header__sity-name {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.header__phone-number {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #293a4f;
  text-decoration: none;
  display: block;
}

.header__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.header__btn {
  background-color: #ffe400;
  border-radius: 25px;
  padding: 9px 25px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  border: none;
  min-width: 180px;
}

.header__btn:hover {
  background-color: #ffc601;
}

.header__navigation {
  background-color: #293a4f;
}

.header__nav-links {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.header__nav-link {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  margin-right: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.offer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__sense {
  display: flex;
  flex-flow: column;
  align-items: start;
  max-width: 50%;
  justify-content: space-around;
  margin: 80px 0;
}

.offer__h1 {
  font-size: 44px;
  line-height: 58px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin: 0 0 50px 0;
  font-family: 'Montserrat',sans-serif,arial;
}

.offer__text {
  background-color: #fff;
  border-radius: 3px;
  color: #011b38;
  padding: 8px 37px;
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 100px 0;
}

.offer__items {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
}

.offer__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 60px;
}

.offer__img {
  max-width: 120px;
  border-radius: 50%;
  border: 2px solid #b1b7bd;
  margin: 0 0 25px 0;
}

.offer__name {
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin: 0 0 15px 0;
}

.offer__price {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.offer__order {
  width: 37%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(20, 30, 48, 0.9) 0%, rgba(36, 59, 85, 0.9) 100%);
  border-radius: 10px;
}

.offer__order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 30px 30px;
  color: #fff;
}

.offer__order-name {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  margin: 0 0 30px 0;
}

.offer__form-text_highlighted {
  color: #ffe400;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 23px;
  font-weight: 900;
  font-style: normal;
  font-family: 'Monserrat',sans-serif,arial;
}

.offer__form-text_highlighted-dark {
  color: #f24841;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 900;
  font-style: normal;
  font-family: 'Montserrat', sans-serif,arial;
}

.offer__order-desc {
  display: flex;
  flex-direction: row;
  margin: 0 0 30px 0;
}

.offer__form-num {
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
  margin: 0 15px 0 0;
}

.offer__form-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

.offer__phones-fild {
  width: 100%;
  border-radius: 25px;
  padding: 10px 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  text-align: center;
  border: none;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

.offer__phones-fild:focus-visible {
  outline: none;
}

.offer__form-button {
  display: block;
  width: 100%;
  margin: 0 auto;
  background: #ffe400;
  border: none;
  padding: 12px 10px;
  border-radius: 25px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.offer__form-button:hover {
  background: #ffc601;
  cursor: pointer;
}

.offer__extra-filds {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offer__extra-label, .offer__extra-fild {
  margin: 0 0 15px 0;
  display: inline-block;
  width: 45%;
  color: #fff;
  flex-grow: 1;
  text-align: end;
}

.offer__extra-fild {
  border-radius: 20px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  font-style: normal;
  color: #000;
  padding: 7px 5px;
  text-align: center;
  border: none;
}

.offer__extra-fild:focus-visible {
  outline: none;
}

.offer__order-explanation {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 30px 30px 50px 30px;
  color: #6c6c6b;
}

.offer__checkbox {
  display: none;
}

.offer__policy-label {
  position: relative;
  width: 100%;
  margin: 0 0 0 35px;
}

.offer__policy-label:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: -20px;
  border: 1px solid #6c6c6b;
  border-radius: 3px;
}

.offer__checkbox:checked + .offer__policy-label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: -19px;
  background-image: url("../img/icons/mark.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  z-index: 1;
}

.product__title {
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 80px auto 50px auto;
  color: #2c2c2c;
}

.product__items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.product__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__img {
  width: 100%;
  border-radius: 7px;
  height: 230px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffe400;
  position: relative;
  box-shadow: 0 2px 25px 1px #2c2c2c21;
  transition-duration: 0.5s;
}

.product__item:hover .product__img {
  background-size: 105%;
  transition-duration: 0.5s;
}

.product__img_iron {
  background-image: url("../img/main/prod_iron.jpg");
}

.product__img_concrete {
  background-image: url("../img/main/prod_concrete.jpg");
}

.product__img_gate {
  background-image: url("../img/main/prod_gate.jpg");
}

.product__img_gates {
  background-image: url("../img/main/prod_gates.jpg");
}

.product__img_tent {
  background-image: url("../img/main/prod_tent.jpg");
}

.product__img_canopy {
  background-image: url("../img/main/prod_canopy.jpg");
}

.product__link {
  display: block;
  position: absolute;
  bottom: 0;
  color: #ffe400;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  height: 100px;
  width: 100%;
  padding: 50px 20px 22px 20px;
  background-image: linear-gradient(0deg, #1c2736, transparent);
  border-radius: 0 0 7px 7px;
}

.product__price {
  display: block;
  color: #1c2736;
  font-size: 22px;
  line-height: 23px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Montserrat', sans-serif, arial;
  padding: 25px 0;
}

.product__btn {
  display: block;
  background-color: #ffe400;
  border-radius: 25px;
  min-width: 50%;
  border: none;
  padding: 10px 20px;
  color: #000;
  font-size: 14px;
  line-height: 186x;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 60px 0;
  transition-duration: 0.3s;
}

.product__btn:hover {
  background-color: #ffc601;
  transition-duration: 0.3s;
  cursor: pointer;
}

.measure {
  background-color: #293a4f;
  background-image: linear-gradient(45deg, #293a4ff0, #011b38f0), url("../img/backgrounds/measure.jpg");
  background-size: auto, cover;
}

.measure__intro {
  width: 51%;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.measure__h3 {
  font-size: 32px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Monserrat', sans-serif, arial;
  padding: 60px 0 30px 0;
}

.measure__text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
}

.measure__text_highlighted {
  text-transform: uppercase;
  color: #ffe400;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif, arial;
}

.measure__parts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.measure__privilege {
  width: 40%;
}

.measure__privilege-h5 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 30px 30px 10px 30px;
  text-align: center;
}

.measure__privilege-img {
  max-width: 60px;
  padding: 0 0 15px 0;
}

.measure__privilege-item {
  background-color: #fff;
  width: 145px;
  height: 160px;
  text-align: center;
  padding: 15px 10px;
  border-radius: 6px;
  margin: 12px;
}

.measure__privilege-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}

.measure__privilege-desc {
  line-height: 25px;
}

.measure__action {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.measure__form {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 10% 0 auto;
  padding: 30px 5px;
}

.measure__form-h4 {
  font-size: 27px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  display: block;
  width: 90%;
  margin: 0 auto 15px auto;
}

.measure__form-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  display: block;
  width: 65%;
  margin: 0 auto 25px auto;
}

.measure__form-phone {
  width: 80%;
  border-radius: 25px;
  padding: 10px 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  text-align: center;
  border: 1px solid #c6c6c6;
  margin: 0 auto 25px auto;
  text-transform: uppercase;
}

.measure__form-phone:focus-visible {
  outline: none;
}

.measure__form-btn {
  display: block;
  width: 80%;
  margin: 0 auto 30px auto;
  background: #ffe400;
  border: none;
  padding: 12px 10px;
  border-radius: 25px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  transition: 0.3s;
}

.measure__form-btn:hover {
  background: #ffc601;
  transition: 0.3s;
  cursor: pointer;
}

.measure__checkbox {
  display: none;
}

.measure__policy-label {
  position: relative;
  width: 90%;
  margin: 0 0 0 35px;
  color: #2c2c2c;
}

.measure__policy-label:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: -20px;
  border: 1px solid #6c6c6b;
  border-radius: 3px;
}

.measure__checkbox:checked + .measure__policy-label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: -19px;
  background-image: url("../img/icons/mark.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  z-index: 1;
}

.measure__extra {
  color: #fff;
  display: inline-block;
  max-width: 350px;
  padding: 20px 0 0 0;
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  font-style: normal;
}

.materials {
  margin: 100px 0 0 0;
}

.materials__title {
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.materials__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 80px auto;
}

.materials__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.materials__img {
  width: 50%;
  border-radius: 50%;
  margin: 0 auto 30px auto;
}

.materials__name {
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  height: 25px;
  margin: 0 auto 45px auto;
  text-transform: uppercase;
}

.materials__divide-line {
  display: block;
  height: 3px;
  width: 110px;
  background-color: #f24841;
  margin: 0 auto 35px auto;
}

.materials__price {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto 25px auto;
  color: #2c2c2c;
}

.materials__btn {
  background-color: #ffe400;
  padding: 10px 12px;
  border-radius: 20px;
  transition: 0.3s;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}

.materials__btn:hover {
  background-color: #ffc601;
  transition: 0.3s;
  cursor: pointer;
}

.installation {
  background-color: #faf9f9;
}

.installation__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 0 80px 0;
}

.installation__ilustration {
  width: 30%;
}

.installation__img {
  width: 100%;
  display: block;
}

.installation__info {
  width: 25%;
  text-align: center;
  color: #2c2c2c;
}

.installation__title {
  font-size: 25px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 auto 40px auto;
}

.installation__desc {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto 50px auto;
}

.installation__offer-mini {
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  margin: 0 auto 50px auto;
}

.installation__offer-big {
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  font-style: normal;
  margin: 0 auto 0px auto;
  font-family: 'Montserrat', arial, sans-serif;
}

.installation__form {
  width: 35%;
  background-color: #293a4f;
  background: linear-gradient(135deg, #293a4f, #293a4ff0);
  color: #fff;
  border-radius: 10px;
  padding: 30px 30px;
  text-align: center;
}

.installation__form-name {
  font-size: 26px;
  line-height: 27px;
  font-weight: 900;
  font-style: normal;
  margin: 0 0 30px 0;
}

.installation__form-desc {
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 30px 0;
}

.installation__form-phone {
  width: 100%;
  border-radius: 25px;
  padding: 10px 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  text-align: center;
  border: none;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

.installation__form-phone:focus-visible {
  outline: none;
}

.installation__form-btn {
  display: block;
  width: 100%;
  margin: 0 auto 30px auto;
  background: #ffe400;
  border: none;
  padding: 12px 10px;
  border-radius: 25px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.installation__form-btn:hover {
  background: #ffc601;
  cursor: pointer;
}

.installation__checkbox {
  display: none;
}

.installation__policy-label {
  position: relative;
  width: 100%;
  margin: 0 0 0 35px;
}

.installation__policy-label:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: -20px;
  border: 1px solid #6c6c6b;
  border-radius: 3px;
}

.installation__checkbox:checked + .installation__policy-label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: -19px;
  background-image: url("../img/icons/mark.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  z-index: 1;
}

.show {
  background-color: #def6fe;
  color: #2c2c2c;
  padding: 100px 10px;
}

.show__h3 {
  font-size: 28px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 auto 60px auto;
  text-align: center;
}

.show__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 100px 0;
}

.show__imgs {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.show__imgs-big {
  width: 100%;
  margin: 0 auto 20px auto;
  position: relative;
}

.show__img-big {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.show__imgs-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
}

.show__imgs-item {
  margin: 0 auto;
  width: 20%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.show__link:hover::after {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 1;
}

.show__link::after {
  content: '';
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: rgba(5, 6, 44, 0.7) url(../img/icons/loupe.svg) center no-repeat;
  background-size: 100% 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  border-radius: 5px;
  opacity: 0;
}

.show__img-mini {
  width: 100%;
  display: block;
}

.show__info {
  width: 50%;
  display: block;
}

.show__h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 30px 0;
}

.show__text {
  margin: 0 0 10px 0;
}

.show__desc {
  font-weight: 700;
}

.show__work-items {
  margin: 40px 0 25px 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.show__work-item {
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show__work-img-item {
  width: 50%;
}

.show__work-img {
  width: 50%;
  display: inline-block;
}

.show__work-name, .show__work-price {
  font-weight: 700;
}

.show__btn {
  display: block;
  width: 95%;
  margin: 0 auto;
  background: #ffe400;
  border: none;
  padding: 16px 12px;
  border-radius: 25px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.show__btn:hover {
  background: #ffc601;
  cursor: pointer;
}

.price {
  padding: 100px 0;
  color: #2c2c2c;
}

.price__h3 {
  font-size: 30px;
  line-height: 31px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 50px 0;
  text-align: center;
}

.price__switchs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto 50px auto;
}

.price__switch-btn {
  display: block;
  width: 33%;
  max-width: 300px;
  margin: 0 10px;
  border: none;
  padding: 14px 12px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #6c6c6b;
  border: 2px solid #6c6c6b;
  text-align: center;
  cursor: pointer;
}

.price__switch-btn_active {
  background: #ffe400;
  color: #000;
  border: #ffe400;
  background: #ffe400;
}

.price__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #1c2736;
}

.price__item {
  width: 30%;
}

.price__name {
  font-size: 19px;
  line-height: 19px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  font-family: 'Montserrat', sans-serif;
}

.price__params {
  text-align: left;
  margin: 0 0 25px 50px;
}

.price__param {
  margin: 0 0 10px 0;
}

.price__number {
  font-weight: 700;
}

.price__img {
  width: 100%;
  max-width: 320px;
  margin: 0 0 20px 0;
}

.price__value {
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}

.price__btn {
  display: block;
  width: 65%;
  margin: 0 auto;
  background: #ffe400;
  border: none;
  padding: 16px 12px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.price__btn:hover {
  background: #ffc601;
  cursor: pointer;
}

.stock {
  background: linear-gradient(45deg, #293a4ff0, #011b38f0), url(../img/backgrounds/measure-1.jpg);
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: center;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  padding: 70px 10px 50px 10px;
}

.stock__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 50px 0;
  text-align: center;
}

.stock__items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

.stock__item {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 0 30px 0;
}

.stock__name {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  color: #ffe400;
  margin: 0 0 10px 0;
}

.stock__desc {
  margin: 0 0 25px 0;
}

.stock__img {
  width: 90%;
  border-radius: 10px;
  margin: 0 0 40px 0;
}

.stock__old-price {
  margin: 0 0 10px 0;
}

.stock__new {
  font-size: 23px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 20px 0;
}

.stock__new-price {
  color: #ffe400;
  font-weight: 700;
}

.stock__btn {
  display: block;
  width: 85%;
  max-width: 250px;
  margin: 0 auto;
  background: #ffe400;
  border: none;
  padding: 16px 12px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.stock__btn:hover {
  background: #ffc601;
  cursor: pointer;
}

.quality {
  padding: 80px 0;
  color: #2c2c2c;
}

.quality__title {
  margin: 0 auto 60px auto;
  text-align: center;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
  font-style: normal;
}

.quality__items {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.quality__item {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto 40px 0;
}

.quality__ring {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ffe400;
  margin: 0 20px 0 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quality__img {
  width: 55%;
}

.quality__info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.quality__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 15px 0;
}

.quality__desc {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px 0;
}

.infoback {
  background: url(../img/backgrounds/mobile.jpg);
  height: 480px;
  position: relative;
}

.infoback__box {
  width: 680px;
  height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 200px;
}

.infoback__img {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 330px;
  height: 500px;
  background: url(../img/icons/messenger.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  background-position: bottom;
}

.infoback__block {
  width: 550px;
  height: 400px;
  background-color: #293a4f;
  background: linear-gradient(to right, rgba(20, 30, 48, 0.9) 0%, rgba(36, 59, 85, 0.9) 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 20px 130px;
  margin: 0 auto 30px auto;
  position: absolute;
  bottom: 0;
  right: 0%;
  z-index: 1;
  border-radius: 20px;
}

.infoback__title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 900;
  font-style: normal;
  font-family: 'Montserrat', arial, sans-serif;
  text-transform: uppercase;
}

.infoback__name {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 30px 0;
}

.infoback__color-text {
  color: #ffe400;
  padding: 0 0 0 130px;
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.infoback__color-text::before {
  content: '';
  background: url(../img/icons/mark_color.svg) no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 20px 0 0;
  position: absolute;
  top: 0;
  left: 65px;
}

.infoback__link {
  font-size: 27px;
  line-height: 27px;
  font-weight: 900;
  font-style: normal;
  font-family: 'Montserrat', arial, sans-serif;
  text-decoration: none;
  color: #fff;
  margin: 0 0 0 67px;
}

.colors {
  padding: 100px 0px;
}

.colors__title {
  color: #2c2c2c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Montserrat', arial, sans-serif;
  text-align: center;
  margin: 0 0 50px 0;
}

.colors__items {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: 0 auto 50px auto;
}

.colors__item {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.colors__img {
  width: 80%;
  max-width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 35px auto;
}

.colors__desc {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.colors__btn {
  display: block;
  width: 85%;
  max-width: 350px;
  margin: 0 auto;
  background: #ffe400;
  border: none;
  padding: 16px 12px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.colors__btn:hover {
  background: #ffc601;
  cursor: pointer;
}

.stages {
  background-color: #f3f3f4;
  padding: 100px 0;
  color: #2c2c2c;
}

.stages__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 0 0 50px 0;
}

.stages__items {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: flex-start;
}

.stages__item {
  width: 33.333%;
  max-width: 360px;
  margin: 0 auto 60px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stages__img {
  width: 70%;
  max-width: 160px;
  display: block;
  margin: 0 auto 30px auto;
  border-radius: 50%;
}

.stages__num {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 5px 0;
}

.stages__name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  color: #f24841;
}

.stages__info {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 15px 0;
  color: #293a4f;
}

.stages__desc {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 5px 0;
}

.stages__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 5px 0;
  color: #2c2c2c;
  text-decoration: none;
}

.reviews {
  padding: 100px 0 50px 0;
}

.reviews_back-img {
  background-color: #293a4f;
  background: url(../img/backgrounds/review.jpg);
}

.reviews__title_light {
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 50px;
  text-align: center;
  color: #fff;
}

.reviews__title_light {
  color: #fff;
}

.reviews__items {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 950px;
  margin: 0 auto 50px auto;
}

.reviews__item {
  margin: 0 0 50px 0;
  text-align: center;
  width: 20%;
  min-width: 250px;
  margin: 0 auto;
}

.reviews__link {
  border: 5px solid #ffe400;
  text-decoration: none;
  display: block;
  position: relative;
}

.reviews__link:hover::after {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 1;
}

.reviews__link::after {
  content: '';
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: rgba(5, 6, 44, 0.7) url(../img/icons/loupe.svg) center no-repeat;
  background-size: 100% 35px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  border-radius: 5px;
  opacity: 0;
}

.reviews__img {
  width: 100%;
  display: block;
}

.reviews__btn {
  display: block;
  width: 95%;
  max-width: 300px;
  margin: 0 auto;
  background: #ffe400;
  border: none;
  padding: 16px 14px;
  border-radius: 25px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.reviews__btn:hover {
  background: #ffc601;
  cursor: pointer;
}

.map {
  height: 500px;
  padding: 45px 0;
}

.map_gomel {
  background: url(../img/backgrounds/map-Gomel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.map__card {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
  width: 400px;
  height: 410px;
  color: #fff;
  background: linear-gradient(to right, rgba(20, 30, 48, 0.9) 0%, rgba(36, 59, 85, 0.9) 100%);
}

.map__name {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  margin: 30px 0 0 0;
}

.map__text, .map__link {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 30px 0;
}

.map__link {
  color: #fff;
  text-decoration: none;
}

.map__btn {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background: #ffe400;
  border: none;
  padding: 16px 14px;
  border-radius: 25px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.map__btn:hover {
  background: #ffc601;
  cursor: pointer;
}

.quest {
  background: url("../img/backgrounds/quest.jpg");
  padding: 100px 0;
  color: #fff;
  text-align: center;
}

.quest__form {
  width: 450px;
  margin: 0 auto;
}

.quest__name {
  font-size: 31px;
  line-height: 31px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 30px;
}

.quest__desc {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 30px;
}

.quest__message {
  width: 90%;
  margin: 0 0 30px;
  border-radius: 25px;
  padding: 20px 14px;
  outline: none;
  border: none;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-family: 'PT Sans', sans-serif, arial;
  text-transform: uppercase;
}

.quest__phone {
  width: 90%;
  margin: 0 0 30px;
  border-radius: 25px;
  padding: 16px 14px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif, arial;
  text-align: center;
  outline: none;
  border: none;
}

.quest__message:hover, .quest__phone:hover {
  outline: none;
}

.quest__btn {
  background-color: #ffe400;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  border: none;
  width: 90%;
  min-width: 280px;
  margin: 0 0 30px;
}

.quest__btn:hover {
  background-color: #ffc601;
}

.quest__checkbox {
  display: none;
}

.quest__policy-label {
  position: relative;
  width: 100%;
  margin: 0 0 0 35px;
}

.quest__policy-label:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: -20px;
  border: 1px solid #6c6c6b;
  border-radius: 3px;
}

.quest__checkbox:checked + .quest__policy-label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: -19px;
  background-image: url("../img/icons/mark.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  z-index: 1;
}
