body {
    background-color: $white;
    font-family: 'PT Sans', sans-serif, arial;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @include desktop {
        margin: 0 40px;
     }

    @include tablet {
        margin: 0 20px;
     }

    @include mobile {
       margin: 0 10px;
    }
}


.visually-hidden {
    position: fixed;
    transform: scale(0);
}

._lock {
    overflow: hidden;
}

.error {
    box-shadow: 0 0 0 2px $redlight;
}

.concrete {
    background: url(../img/backgrounds/concrete-back-2.jpg);
    background-size: cover;

    @include tablet {
        background-position: 25%;
     }

}

.profnastil {
    background: url(../img/backgrounds/profnastil-back-2.jpg);
    background-size: cover;
}