body {
    background-color: $white;
    font-family: 'PT Sans', sans-serif, arial;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.concrete {
    background: url(../img/backgrounds/concrete-back-2.jpg);
    background-size: 100%;
}

.profnastil {
    background: url(../img/backgrounds/profnastil-back-2.jpg);
    background-size: 100%;
}