$yellow: #ffe400;
$yellowdark: #ffc601;
$black: #000;
$blacklight: #2c2c2c;
$blue: #293a4f;
$blue-transparent: #293a4ff0;
$bluedark: #011b38;
$bluedark-transparent: #011b38f0;
$bluedarker: #1c2736;
$bluelight: #b1b7bd;
$bluelighter: #2c2c2c21;
$white: #fff;
$redlight: #f24841;
$grey: #c6c6c6;
$greydark: #6c6c6b;

