@import './reset';
@import './variables';
@import './mixins';
@import './general';
@import './blocks/header';
@import './blocks/offer';
@import './blocks/product';
@import './blocks/measure';
@import './blocks/materials';
@import './blocks/installation';
@import './blocks/show';
@import './blocks/price';
@import './blocks/stock';
@import './blocks/quality';
@import './blocks/infoback';
@import './blocks/colors';
@import './blocks/stages';
@import './blocks/reviews';
@import './blocks/map';
@import './blocks/quest';
@import './blocks/footer';
@import './interaction/hat';
@import './interaction/btn';
@import './interaction/callback';
@import './interaction/mainform';