.materials{
    margin: 100px 0 0 0;

    @include mobile {
        margin-top: 70px;
    }

    &__title{
        @include font(32px, 34px, 700);
        text-align: center;
        text-transform: uppercase;

        @include mobile {
            font-size: 22px;
        }

    }

    &__items{
        @include flex-center;
        margin: 80px auto 20px auto;
        flex-wrap: wrap;

        @include mobile {
            margin-top: 20px;
        }
    }

    &__items-cuple{
        @include flex-center;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        justify-content: center;
        text-align: center;
        padding: 10px;
        margin: 0 0 60px 0;

        @include mobile {
            margin-bottom: 20px;
        }
    }
    &__img {
        width: 50%;
        border-radius: 50%;
        margin: 0 auto 30px auto;

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__name {
        @include font(19px, 20px, 700);
        height: 25px;
        margin: 0 auto 45px auto;
        text-transform: uppercase;

        @include mobile {
            font-size: 17px;
            margin-bottom: 25px;
        }
    }

    &__divide-line {
        display: block;
        height: 3px;
        width: 110px;
        background-color: $redlight;
        margin: 0 auto 35px auto;

        @include mobile {
            margin-bottom: 20px;
        }
    }
    

    &__price {        
        @include font(18px, 19px, 400);
        margin: 0 auto 25px auto;
        color: $blacklight;
    }

    &__btn {
        background-color: $yellow;
        padding: 10px 12px;
        border-radius: 20px;
        transition: 0.3s;
        @include font(16px, 17px, 700);
        text-transform: uppercase;
        width: 80%;
        margin: 0 auto;

    }

    &__btn:hover {
        background-color: $yellowdark;
        transition: 0.3s;
        cursor: pointer;
    }


}

