.offer{
    &__box {
       display: flex;
       justify-content: space-between;
       align-items: center;

       @include tablet {
            flex-direction: column;
            text-align: center;
        }

        @include mobile {
            position: relative;
            top: 60px;
            left: 0;
            width: 100%;            
            padding: 0 0 60px 0;
        }

    }

    &__sense {
        display: flex;
        flex-flow: column;
        align-items: start;
        max-width: 50%;
        justify-content: space-around;
        margin: 80px 0;

        @include tablet {
            max-width: 60%;
            margin: 40px 0 10px 0;
        }
        
        @include mobile {
            max-width: 100%;
            margin: 30px 0 10px 0;
        }
    }

    &__h1 {
        @include font(44px, 58px, 700);
        color: $white;
        margin: 0 0 50px 0;
        font-family: 'Montserrat',sans-serif,arial;

        @include tablet {
            @include font(35px, 37px, 700);
            margin: 0 0 25px 0;
        }
        
        @include mobile {
            @include font(23px, 25px, 700);
            text-align: center;
            margin: 0 0 15px 0;
            width: 100%;
            max-width: 470px;
        }

    }
    &__text {
        background-color: $white;
        border-radius: 3px;
        color: $bluedark;
        padding: 8px 37px;
        @include font(18px, 19px, 700);
        margin: 0 0 100px 0;

        @include tablet {
            margin: 0 auto 30px auto;
        }

        @include mobile {
            padding: 8px;
            @include font(16px, 16px, 700);            
            margin: 0 auto 15px auto;
            width: 100%;
        }
    }

    &__items {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-between;

        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
         }
    }

    &__item {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-right: 60px;

        @include desktop {
            margin-right: 5px;
        }

    }

    &__img {
        max-width: 120px;
        border-radius: 50%;
        border: 2px solid $bluelight;
        margin: 0 0 25px 0;
    }

    &__name {
        @include font(22px, 25px, 700);
        color: $white;
        margin: 0 0 15px 0;
    }

    &__price {
        @include font(20px, 28px, 400);
        color: $white;
    }

    &__order {
        width: 37%;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right,rgba(20,30,48,0.9) 0%,rgba(36,59,85,0.9) 100%);
        border-radius: 10px;

        @include desktop {
            width: 45%;
        }

        @include tablet {
            width: 60%;
            max-width: 470px;
            text-align: start;
        }
        
        @include mobile {
            width: 100%;
            margin: 0 0 30px 0;
         }
    }

    &__order-form {        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 30px 30px 30px;       
        color: $white;

        @include mobile {
            width: 100%;
            margin: 0 auto;           
            padding: 30px 10px; 
         }
    }

    &__order-name {
        @include font(20px, 23px, 400);       
        color: $white;
        margin: 0 0 30px 0;

        @include tablet {
            text-align: center;            
            margin: 0 0 17px 0;
        }

        @include mobile {
            @include font(16px, 23px, 400); 
        }
    }

    &__form-text_highlighted {
        color: $yellow;
        text-transform: uppercase;
        @include font(21px, 23px, 900);
        font-family: 'Monserrat',sans-serif,arial;

        @include mobile {
            @include font(16px, 23px, 700); 
        }
    }

    &__form-text_highlighted-dark {
        color: $redlight;
        text-transform: uppercase;
        @include font(16px, 19px, 900);
        font-family: 'Montserrat', sans-serif,arial;
    }

    &__order-desc {
        display: flex;
        flex-direction: row; 
        margin: 0 0 30px 0;

        @include mobile {
            margin: 0 0 10px 0;
         }
    }

    &__form-num {
        @include font(30px, 32px, 700);
        margin: 0 15px 0 0;
        
        @include mobile {
            @include font(23px, 23px, 700);
         }
    }

    &__form-text {
        @include font(16px, 18px, 400);

        @include mobile {
            @include font(14px, 14px, 400);
         }
    }

    &__phones-fild {
        width: 100%;
        border-radius: 25px;
        padding: 10px 8px;
        @include font(16px, 18px, 400);
        color: $black;
        text-align: center;
        border: none;                      
        margin: 0 0 30px 0;
        text-transform: uppercase;
    }

    &__phones-fild:focus-visible {
        outline: none;
    }

    &__form-button {
        display: block;
        width: 100%;
        margin: 0 auto;
        background: $yellow;
        border: none;
        padding: 12px 10px;
        border-radius: 25px;
        @include font(16px, 17px, 700);
        text-transform: uppercase;
        color: $black;
    }

    &__form-button:hover {
        background: $yellowdark;
        cursor: pointer;
    }

    &__extra-filds {
        display: flex;
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;  
        justify-content: space-around;
    }
    

    &__extra-label, &__extra-fild{        
        margin: 0 0 15px 0;
        display: inline-block;
        width: 45%;
        color: $white;
        flex-grow: 1;
        text-align: end;
        @include font(14px, 15px, 300);
    }

    &__extra-fild {
        border-radius: 20px;
        @include font(14px, 15px, 300);
        color: $black;
        padding: 7px 5px;
        text-align: center;
        border: none;

        @include mobile {
            width: 50%;
            min-width: 60px; 
         }
    }

    &__extra-fild:focus-visible{
        outline: none;
    }

    &__order-explanation {
        background-color: $white;
        border-radius: 0 0 10px 10px;        
        padding: 30px 30px 50px 30px;       
        color: $greydark;

        @include mobile {
            margin: 20px 10px;
        }
    }

    &__checkbox {
        display: none;
    }

    &__policy-label {
        position: relative;
        width: 100%;
        margin: 0 0 0 35px;

        @include mobile {
            @include font(13px, 13px, 400);
            margin: 0 0 0 25px;
         }
    }

    &__policy-label:before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 6px;
        left: -20px;
        border: 1px solid $greydark;
        border-radius: 3px;
    }

    &__checkbox:checked+&__policy-label:after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: -19px;
        background-image: url('../img/icons/mark.png');
        background-repeat: no-repeat;
        background-size: 14px 14px;
        z-index: 1;
    }
}