.quality {
    padding: 80px 0;
    color: $blacklight;

    &__title {
        margin: 0 auto 60px auto;
        text-align: center;
        @include font(33px, 33px, 700);

        @include mobile {
            @include font(22px, 22px, 700); 
        }
    }

    &__items {
        @include flex-center;
        max-width: 1000px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    &__item {
        width: 50%;
        display: flex;
        flex-direction: column;
        
        @include mobile {
            width: 95%;
            margin: 0 auto;
            max-width: 500px;
        }
    }

    &__node {
        display: flex;
        flex-direction: row;
        align-items: flex-start;        
        margin: 0 auto 40px 0;

        @include mobile {
            margin: 0 auto 25px auto;
            width: 320px;
        }
    }
    &__ring {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid $yellow;
        margin: 0 20px 0 0;
        padding: 5px;
        @include flex-center;

        @include mobile {
            width: 55px;
            height: 55px;
        }

    }

    &__img {
        width: 55%;
    }

    &__info {
        width: 80%;
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        
        @include mobile {
            width: 70%;
        }
    }

    &__name {
        @include font(20px, 20px, 700);        
        margin: 0 0 15px 0;

        @include mobile {
            @include font(17px, 17px, 700); 
        }
    }

    &__desc {
        @include font(16px, 16px, 400);        
        margin: 0 0 10px 0;

        @include mobile {
            @include font(14px, 14px, 400); 
        }
    }
}