.reviews {    
    padding: 100px 0 50px 0;

    @include mobile {
        padding-top: 70px;
    }

    &_back-img {
        background-color: $blue;
        background: url(../img/backgrounds/review.jpg);
    }

    &__title_light {
        @include font(33px,33px, 700);
        margin: 0 0 50px;
        text-align: center;
        color: $white;

        @include mobile {
            @include font(24px,27px, 700);
         }
    }

    &__items {
        @include flex-center;
        max-width: 950px;  
        margin: 0 auto 50px auto;
        
        @include mobile {
            flex-wrap: wrap;
        }
    }

    &__item {
        margin: 0 0 50px 0;
        text-align: center;
        width: 20%;
        min-width: 250px;
        margin: 0 auto;

        @include tablet {
            min-width: 200px;
        }

        @include mobile {
            margin: 0 auto 10px auto;
            min-width: 250px;
        }
    }

    &__link {
        border: 5px solid $yellow;
        text-decoration: none;
        display: block;
        position: relative;
    }

    &__link:hover::after {
        width: 100%;
        height: 100%;
        transition: 0.3s;
        opacity: 1;
    }

    &__link::after {
        content:'';
        width: 100%;
        height: 100%;        
        transition: 0.5s;
        background: $bluetransback url(../img/icons/loupe.svg) center no-repeat;
        background-size: 100% 35px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s;        
        border-radius: 5px; 
        opacity: 0;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__btn {
        display: block;
        width: 95%;
        max-width: 300px;
        margin: 0 auto;
        background: $yellow;
        border: none;
        padding: 16px 14px;
        border-radius: 25px;
        @include font(15px, 15px, 700);
        text-transform: uppercase;
        color: $black;
        font-family: 'PT Sans';
    }

    &__btn:hover {
        background: $yellowdark;
        cursor: pointer;
    }
}