.btn {
    &__top {
        background: $bluebright;
        width: 40px;
        height: 35px;
        border-radius: 4px 4px 0 0;
        text-align: center;
        padding: 3px;
        color: $white;
        @include font(15px, 15px, 700);
        position: fixed;
        bottom: 0;
        right: 20px;
        z-index: -1;
        opacity: 0;
        transition: all .3s;
        border:none;
      }

      &__top:hover {
        background: $black;
      }
      
      &__top_active {
        opacity: 1;
        transition: all .3s;        
        z-index: 999;
      }

      &__img {
          width: 45%;
          position: absolute;
          top: 8px;
          left: 11px;
      }
}